/* .Navbar {
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #010101;
  color: #B9BCC1;
  font-weig
} */

{/* fixed w-full h-[80px] flex justify-between items-center px-4 bg-[#010101] text-[#B9BCC1] font-bold' */}
